.form {
  @apply max-w-screen-md mx-auto px-6 mb-12;

  label {
    @apply text-4xl font-bold flex items-center;
  }

  div {
    @apply relative mx-8 mt-4;
    svg {
      top: 14px;
      left: 12px;
      bottom: 14px;
      @apply absolute w-5 h-5 z-20 text-black;
    }
  }

  input {
    @apply py-3 pr-6 pl-10 rounded-lg text-gray-900 bg-gray-400 block w-full font-semibold relative z-10;
    
    &:focus {
      @apply outline-none shadow-outline;
    }
  }

  small {
    @apply max-w-screen-md mx-auto px-8 mt-1 text-right block;
  }
}

.section {
  @apply max-w-prose mx-auto px-10;
}

.loading {
  @apply max-w-prose mx-auto px-10 flex justify-center -mt-8 mb-4;
}
